<footer class="footer-distributed">
  <div class="footer-left">
    <h3>Sesame<span>University</span></h3>

    <p class="footer-links">
      Recruitment forum Sesame University
    </p>

    <p class="footer-company-name">Sesame University &copy; 2020</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p>
        <span>ZI Chotrana I BP4 Parc Technologique El Ghazela, </span> Ariana
        2088
      </p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+216 70 686 486</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p>
        <a href="mailto:support@company.com">sesame@sesame.com.tn</a>
      </p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>About Sesame</span>
      École Supérieure privée des Sciences Appliquées et de Management agréée
      par l'Etat tunisien.
    </p>

    <div class="footer-icons">
      <a href="https://www.facebook.com/sesametunisie"
        ><i class="fa fa-facebook"></i
      ></a>
      <a href="https://twitter.com/SesameTunisie"
        ><i class="fa fa-twitter"></i
      ></a>
      <a
        href="https://www.linkedin.com/school/universite-sesame/?originalSubdomain=tn"
        ><i class="fa fa-linkedin"></i
      ></a>
    </div>
  </div>
</footer>
