<section>
  <!--navigation------------------------->
  <nav>
    <!--logo-->
    <img class="logo1" src="../../assets/img/corner_shape.png" />
    <img class="logo" src="../../assets/img/Logo-sesame-Corporate.png" />
    <!--menu-->
    <ul>
      <li><a class="active" (click)="home()">HOME</a></li>
      <li><a (click)="viewbookings()">MY BOOKINGS </a></li>
      <li><a (click)="MyProfile()">PROFILE</a></li>
      <li><a (click)="booknow()">BOOKNOW</a></li>
    </ul>
    <!--bars--------------->
    <div class="toggle"></div>
  </nav>
  <img src="{{this.imageUrl}}" class="center" />

  <div
    style="
      text-align: center;
      color: #7c795d;
      font-family: 'Trocchi', serif;
      font-size: 30px;
      font-weight: normal;
      line-height: 24px;
      margin-top: 1%;
    "
  >
    {{this.company}}
  </div>
  <form id="timeC" style="margin-left: 30%; margin-right: 30%;">
    <div class="form-group">
      <label>Choose your booking times</label>
      <select #T class="form-control">
        <option *ngFor=" let element of times">{{ this.element?.time }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" (click)="Booknow(T.value)">
      Book now
    </button>

    <ul class="list-group" style="margin-top: 10%;">
      <li class="list-group-item" *ngFor=" let element of test">
        {{ this.element?.time }}
      </li>
    </ul>
  </form>

  <img
    src="../../assets/img/shape_blue.png"
    style="height: 10%; transform: translate(3775%, -400%);"
  />
  <img
    src="../../assets/img/bootom_corner_shape.png"
    style="
      display: block;
      margin-top: 1%;
      height: 8%;
      transform: translate(0%, -10%);
    "
  />
  <img
    src="../../assets/img/shape_orange.png"
    style="
      display: block;
      height: 10%;
      transform: rotate(45deg);
      transform: translate(1100%, -120%);
    "
  />
</section>
<app-footer></app-footer>
