<p>THIS IS TAKING MORE THAN USAL</p>
<div class="logo">
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC8_Cm4Ye1F_3490ZwNNxjOUoqHNSPrUwweBNL1mkRoBA9s6XHGnXmszGPzRSz6bsx_km6bHMtGJtL5n84v6X5F73x8B-Uo5s&usqp=CAU&ec=45732302"
    class="rounded float-left"
    alt="logo"
  />
</div>
<div style="color: aqua;">Description</div>
<p class="text-justify">
  Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet
  fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter
  est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros.
  Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras
  mattis iudicium purus sit amet fermentum.
</p>
