<form id="time">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select #date class="form-control" id="exampleFormControlSelect1">
      <option *ngFor=" let element of select">{{ this.element?.time }}</option>
    </select>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    (click)="submitTime(date.value)"
  >
    Submit
  </button>
  <ul class="list-group" style="margin-top: 10%;">
    <li class="list-group-item" *ngFor=" let element of times">
      {{ this.element?.time }}
    </li>
  </ul>

  <div>
    Ajouter Lien pour les Room reservé
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Room ID</th>
          <th scope="col">Company name</th>
          <th scope="col">time booked</th>
          <th scope="col">room url</th>
          <th scope="col">add</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of rooms">
          <th scope="row">
            {{ this.element?.id }}
          </th>
          <td>{{ this.element?.companyBooked }}</td>
          <td>{{ this.element?.time }}</td>
          <td>{{ this.element?.roomUrl }}</td>
          <td>
            <button
              type="submit"
              class="btn btn-primary"
              (click)="addUrl(this.element.id)"
            >
              ADD URL
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
